FormatStyle: file

Checks: >
  -*,

  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  portability-*,
  misc-*,
  readability-*,

  -readability-uppercase-literal-suffix,
  -readability-implicit-bool-conversion,

  -misc-use-anonymous-namespace,

  -bugprone-exception-escape,

  -performance-no-int-to-ptr,

  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,

  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-named-parameter,
  -readability-else-after-return,
  -readability-redundant-access-specifiers,
  -readability-avoid-const-params-in-decls,

  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-auto,

  -misc-non-private-member-variables-in-classes,
  -hicpp-*

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

CheckOptions:
  # Types
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MethodCase: camelBack

  # Variables
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.LocalVariableIgnoredRegexp: '^(VAO|VBO|EBO|FBO|RBO)$'

  # Members
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.PublicMemberCase: camelBack

  # Namespaces
  readability-identifier-naming.NamespaceCase: lower_case

  # Macros
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE

  readability-braces-around-statements.ShortStatementLines: 1

  bugprone-argument-comment.StrictMode: false